@font-face {
  font-family: 'League Spartan';
  /* You can choose any name for the font family */
  src: url('GoudyBookletter1911.otf') format('opentype');
  /* You can also include other font formats for better browser compatibility:
     src: url('path-to-your-font/customfont.otf') format('opentype'),
          url('path-to-your-font/customfont.woff') format('woff'),
          url('path-to-your-font/customfont.ttf') format('truetype'); */
}


.material-symbols-outlined {

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


body {

  font-family: 'League Spartan', sans-serif;
  background-color: pink;

}

.navbar {
  z-index: 1;
}

.navbar.bg-pink {
  background-color: pink;

}

h1 {
  text-align: center;
  padding-top: 2.5%;
}

h2 {
  padding-top: 2.5%;
  text-align: center;
}

h4 {
  padding-top: 2.5%;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;

}



.nav-logo img {
  width: 100px;
  height: auto;
}

.eboard {
  background-color: #DAF7A6;
  height: 150vh;
  justify-content: center;
}


/* Style the dropdown menu */
.dropdown-menu {
  background-color: #fff; /* Background color */
  border: none; /* Remove borders */
}

/* Style the dropdown items */
.dropdown-item {
  color: #333; /* Text color */
}

/* Style the dropdown items on hover */
.dropdown-item:hover {
  background-color: #d5cdcd; /* Background color on hover */
}

a {
  color: black;
}


.intro {
  background-color: pink;
  height: 80vh;
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.person {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  
}

.row {
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

h5 {
  padding-top: 2%;
  font-weight: bold;
}

.gallery img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;

}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: pink;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-icon {
  font-size: 24px;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.footer-icon:hover {
  color: #DAF7A6;
}


@media (max-width: 767px) {
  .eboard {
    height: 180vh;
    background-color: #DAF7A6;
    justify-content: center;
  }

  .gallery {
    display: flex;
    flex-direction: column;  
    align-items: center;
  }

  

  .person img {
    width: 180px;
    height: 180px;
  }

  .person h5, .person p {
    font-size: 0.8rem;
  }

  .person {
    width: 40%;  /* Each person occupies half the width */
    margin-right: 40px;
    margin-left: 0px;
    box-sizing: border-box;  /* So that the padding and border won't increase the element's total width */
  }
  .row {
    margin-left: 10px;
    margin-right: 0px;
  }
  .gallery .person:nth-child(2n) { 
    margin-right: 0;  /* Clear right margin on every second person */
  }


}