@font-face {
  font-family: 'League Spartan';
  /* You can choose any name for the font family */
  src: url('GoudyBookletter1911.otf') format('opentype');
  /* You can also include other font formats for better browser compatibility:
     src: url('path-to-your-font/customfont.otf') format('opentype'),
          url('path-to-your-font/customfont.woff') format('woff'),
          url('path-to-your-font/customfont.ttf') format('truetype'); */
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: pink;
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}


.navbar {
  z-index: 1;
}

.navbar.bg-pink {
  background-color: pink;

}



.nav-logo img {
  width: 100px;
  height: auto;
}

h1 {
  text-align: center;
}

.header {
  height: 100px;
  margin-top: 5vh;
  text-align: center;
}

/* Style the dropdown menu */
.dropdown-menu {
  background-color: #fff; /* Background color */
  border: none; /* Remove borders */
}

/* Style the dropdown items */
.dropdown-item {
  color: #333; /* Text color */
}

/* Style the dropdown items on hover */
.dropdown-item:hover {
  background-color: #d5cdcd; /* Background color on hover */
}

.intro {
  margin: 0 15px;
  text-align: center;
  font-size: 20px;
}

column {
  float: left;
  width: 20%;
  padding: 10px 15px;
  flex: 1;
}

.row {
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: hotpink;
  height: 450px;
  width: 300px;
  padding: 16px;
  margin-left: 10px;
  text-align: center;
  border-radius: 8px;
}

.card img {
  width: 300px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

footer {
  background-color: pink;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Icon Styles */
.footer-icon {
  font-size: 24px;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.footer-icon:hover {
  color: #DAF7A6;
}